%h1 Projects
- @projects.each do |project|
  = link_to "#{project.title}", project_path(project), class: 'btn btn-lg btn-success'
= form_for(Project.new) do |f|
  = f.text_field :title
  = f.submit "+"
