!!!HTML
%html
  %head
    %title TableGuru
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/kineticjs/5.0.6/kinetic.min.js"
    = csrf_meta_tags


  %body
    %p.notice= notice
    %p.alert= alert

    - if current_user
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            .greeting
              Hello,
              = current_user.email
            = link_to '#', 'TableGuru', class: 'navbar-brand'


    .container
      = yield
