!!!HTML
%html
  %head
    %title TableGuru
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "/assets/kinetic-v5.1.0.min.js"
    = csrf_meta_tags


  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

    - if current_user
      .navbar.navbar-default
        .container-fluid
          %ul.nav.navbar-nav
            %li= link_to 'TableGuru', '#', class: 'navbar-brand'
            %li= link_to 'My Projects', projects_path
            %li.greeting
              Hello,
              = current_user.email
            %li= link_to 'Sign out', destroy_user_session_path, method: :delete

    .container
      = yield
