!!!HTML
%html
  %head
    %title TableGuru
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "/assets/kinetic-v5.1.0.min.js"
    = csrf_meta_tags


  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

    - if current_user
      = render 'shared/navbar'

    .container
      = yield
